html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0rem;
  height: 0.3125rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 0.625rem;
  height: 12.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.category-btn:hover {
  background-color: #FC1503 !important;
  color: white !important;
}

.category-btn:hover span{
  color: white !important;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.search-bar{
  border:none;
  outline:none;
  width:21.875rem;
}

.category-btn{
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor:pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 0.4375rem 0.9375rem;
  margin: 0.625rem 0rem;
  border-radius: 1.25rem;
  transition: all 0.3s ease;
}

@media screen and (max-width: 56.25rem) {
  .category-btn{
    margin: 0.625rem;
  }
}

@media screen and (max-width:50rem){
  .copyright{
    display:none !important;
  }
}

@media screen and (max-width: 37.5rem) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
  .search-bar{
    width:12.5rem;
  }
}